# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
venv/
env/
ENV/

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Git & Tooling
.git/
.gitignore
.pre-commit-config.yaml
.ruff_cache/
tests/
docs/
*.md
